asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
cloudinary==1.39.1
crispy-bootstrap5==2024.2
distlib==0.3.8
Django==4.2.11
django-cloudinary-storage==0.3.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
filelock==3.13.3
idna==3.6
pillow==10.3.0
platformdirs==4.2.0
# psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==1.26.18
virtualenv==20.25.1
whitenoise==6.6.0
