{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Delete Account{% endblock %}

{% block content %}
<div class="card">
    <h3 class="card-title mb-4">Are you sure?</h3>
    
    <p>This action cannot be undone. All things associated with this user will be lost.</p>

    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-block">delete</button>
    </form>
    <a href="{% url 'profile' %}" class="btn mt-3">Cancel</a>
</div>
{% endblock %}