{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg shadow-none">
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="{% url 'home' %}">
            <img src="{% static 'images/photo-storage.png' %}" height="32" alt="Logo"
                loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse " id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <div class="d-flex align-items-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">                 

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
    

                    {% if request.user.is_authenticated %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </form>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'uploads' %}">Upload</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar -->